{% include 'layout.html' %}
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}



{% block head %}
  {{ super() }}

  <link type="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block content %}
{% from "includes/formhelpers.html" import render_field %}
  <div class="container">
    <h1>Add Appointment</h1>
    <form method="POST">
    <div class="row">
      <div class='col-sm-6'>
        {{ render_field(form.patient_id,class="form-control", value=patient_id , readonly="readonly")  }}
        <br>
        {{ render_field(form.doctor_id,class="form-control")  }}
        <br>
        {{ render_field(form.disease,class="form-control") }}
        <br>
        {{ render_field(form.treatment_fee,class="form-control") }}
        <br>
        <input type="submit" class="btn btn-primary" value="Add">
        {% block warning %}
        {% endblock %}

      </div>
    </div>
    </form>
  </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $('#datepick').datetimepicker();
    });
  </script>
{% endblock %}